# Copyright (c) 2018-2022 AccelByte Inc. All Rights Reserved.
# This is licensed software from AccelByte Inc, for limitations
# and restrictions contact your company contract manager.

version: '3'

services:
  envoy:
    image: envoyproxy/envoy:v1.22.5
    command: ["--service-cluster", "envoyproxy", "--config-path", "/etc/envoy/envoy.yaml"]
    ports:
      - "10000:10000"
      - "9901:9901"
    volumes:
      - ./config/envoy.yaml:/etc/envoy/envoy.yaml
      - ./certs/server.pem:/home/certs/server.pem:ro
      - ./certs/server.key:/home/certs/server.key:ro
      - ./certs/root_ca.pem:/home/certs/root_ca.pem:ro
    extra_hosts:
      - host.docker.internal:host-gateway

  fluentd-loki:
    image: grafana/fluent-plugin-loki:master    # based on 1.9 and not having the updated http plugin for json-array
    command: ["-v"]
    volumes:
      - ./config/fluent-loki.conf:/fluentd/etc/fluent.conf
    ports:
      - "24225:24225"
      - "24225:24225/udp"

  grafana:
    image: grafana/grafana:9.1.6
    volumes:
      - ./config/grafana-datasources.yaml:/etc/grafana/provisioning/datasources/datasources.yaml
      - ./config/grafana-dashboards.yaml:/etc/grafana/provisioning/dashboards/dashboards.yaml
      - ./dashboards:/etc/dashboards
    environment:
      - GF_AUTH_ANONYMOUS_ENABLED=true
      - GF_AUTH_ANONYMOUS_ORG_ROLE=Admin
      - GF_AUTH_DISABLE_LOGIN_FORM=true
    ports:
      - "3000:3000"
    depends_on:
      - prometheus
    extra_hosts:
      - host.docker.internal:host-gateway

  loki:
    image: grafana/loki:main-489898f
    ports:
      - "3100:3100"
    volumes:
      - ./config/loki.yaml:/etc/loki/local-config.yaml
    command: -config.file=/etc/loki/local-config.yaml
    extra_hosts:
      - host.docker.internal:host-gateway

  otel-collector:
    image: otel/opentelemetry-collector-contrib:0.58.0
    command: ["--config=/etc/otel-collector-config.yaml"]
    depends_on:
      - tempo
    volumes:
      - ./config/otel-collector.yaml:/etc/otel-collector-config.yaml
    environment:
      - GRAPHANA_TRACES_SAMPLING_PERCENTAGE
    ports:
      - "9411:9411"   # zipkin receiver
    extra_hosts:
      - host.docker.internal:host-gateway

  prometheus:
    image: prom/prometheus:v2.37.2
    command:
      - --config.file=/etc/prometheus.yaml
      - --web.enable-remote-write-receiver
      - --enable-feature=exemplar-storage
    volumes:
      - ./config/prometheus.yaml:/etc/prometheus.yaml
    ports:
      - "9090:9090"
    extra_hosts:
      - host.docker.internal:host-gateway

  tempo:
    image: grafana/tempo:main-16fc036
    command: [ "-config.file=/etc/tempo.yaml" ]
    volumes:
      - ./config/tempo.yaml:/etc/tempo.yaml
    ports:
      - "3200:3200"   # tempo
      - "4317"        # otlp grpc
      - "4318"        # otlp http
      - "9411"        # zipkin
    extra_hosts:
      - host.docker.internal:host-gateway

  node-exporter:
    image: prom/node-exporter:v1.5.0
